
#Non-essential directories
/[Aa]stralsorcery/
/[Bb]ackups/
/[Dd]ownloads/
/[Dd]umps/
/[Ff]onts/
/[Jj]ourneymap/
/[Ll]library/
/[Ll]ocal/
/[Ll]ogs/
/[Rr]esourcepacks/
/[Ss]aves/
/[Ss]creenshots/
/[Vv]alkyrielib/
/.mixin.out/
/[Mm]ods/[Mm]emory_repo/
/[Cc]rash-reports/
/[Cc]onfig/BiomeTweaker/Output/*

#Never ignore script files
!/[Ss]cripts/**/*.zs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Other root directory files
BotaniaVars.dat
options.txt
patchouli_data.json
usercache.json
usernamecache.json
.ReAuth.cfg
crafttweaker.log
knownkeys.txt
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/splash.properties
config/InvTweaks.cfg
seen_buildersbag_addons.txt
