
#Non-essential directories
/[Aa]stralsorcery/
/[Bb]ackups/
/[Dd]ownloads/
/[Ff]onts/
/[Jj]ourneymap/
/[Ll]library/
/[Ll]ocal/
/[Ll]ogs/
/[Rr]esourcepacks/
/[Ss]aves/
/[Vv]alkyrielib/
/.mixin.out/
/[Mm]ods/[Mm]emory_repo/

#Never ignore script files
!/[Ss]cripts/**/*.zs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Other root directory files
BotaniaVars.dat
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
.ReAuth.cfg
crafttweaker.log
knownkeys.txt
