# Configuration file

##########################################################################################################
# tool
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the tools.cfg
##########################################################################################################

tool {
	S:"magneticraft:electric_chainsaw"=axe=4
	S:"magneticraft:electric_drill"=pickaxe=4,shovel=4
}
